@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* linear gradient to bottom */
  background: linear-gradient(180deg, #f0f0f0 0%, #fff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
